{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <tr>
            <th>Dostawca</th>
            <th>Kod dostawcy</th>
            <th>Prefix</th>
            <th>Data aktualizacji</th>
            <th>Data utworzenia</th>
            <th>Akcje</th>
        </tr>
        {% for supplier in suppliers %}
            <tr id="supplier">
                <td><a href="{{ path('supplier_show', {id: supplier.id}) }}" class="btn btn-secondary">{{ supplier.name }}</a></td>
                <td>{{ supplier.code }}</td>
                <td>{{ supplier.prefix }}</td>
                <td>{{ supplier.updated_at|date('d-m-Y H:i:s') }}</td>
                <td>{{ supplier.created_at|date('d-m-Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('supplier_edit', {id: supplier.id}) }}" class="btn btn-warning">Edytuj</a><br>
                    <a href="{{ path('supplier_delete', {id: supplier.id}) }}" class="btn btn-danger js-supplier-delete">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h4>Łączna liczba dostawców: <span class="js-count-suppliers">{{ suppliers|length }}</span></h4>

    <hr>
    <a href="{{ path('supplier_new') }}" class="btn btn-success">Dodaj nowy</a>

{% endblock %}