{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <tr>
            <th>Magazyn</th>
            <th>Dostawca</th>
            <th>Data aktualizacji</th>
            <th>Data utworzenia</th>
            <th>Akcje</th>
        </tr>
        {% for warehouse in warehouses %}
            <tr id="warehouse">
                <td><a href="{{ path('warehouse_show', {id: warehouse.id}) }}" class="btn btn-secondary">{{ warehouse.name }}</a></td>
                <td>{{ warehouse.supplier_name }}</td>
                <td>{{ warehouse.updated_at|date('d-m-Y H:i:s') }}</td>
                <td>{{ warehouse.created_at|date('d-m-Y H:i:s') }}</td>
                <td>
                    <a href="{{ path('warehouse_edit', {id: warehouse.id}) }}" class="btn btn-warning">Edytuj</a>
                    <a href="{{ path('warehouse_delete', {id: warehouse.id}) }}" class="btn btn-danger js-warehouse-delete">Usuń</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h4>Łączna liczba magazynów: <span class="js-count-warehouses">{{ warehouses|length }}</span></h4>

    <hr>
    <a href="{{ path('warehouse_new') }}" class="btn btn-success">Dodaj nowy</a>

{% endblock %}