{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.supplier) }}
    <button type="submit" class="btn btn-success" formnovalidate>Dodaj</button>
    {{ form_end(form) }}

    <hr>
    <a href="{{ path('warehouse_list') }}" class="btn btn-info">Wróć do listy</a>

{% endblock %}